<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4_YWQ4bGkq-kdN1OmR5A043JjCEybt38</string>
	<key>GCM_SENDER_ID</key>
	<string>290330101499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.jobtracker</string>
	<key>PROJECT_ID</key>
	<string>job-tracker-plip0o</string>
	<key>STORAGE_BUCKET</key>
	<string>job-tracker-plip0o.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290330101499:ios:677781822238fa7741125e</string>
</dict>
</plist>